In [10]:
import pandas as pd

from sklearn.preprocessing import RobustScaler

import warnings
warnings.filterwarnings('ignore')

pd.options.display.max_columns = None

En este ejercicio de pair programming seguiréis usando el dataset que seleccionasteis.

En vuestro dataset habréis identificado unas variables predictoras y una variable respuesta. 

Los objetivos del pair programming de hoy son:

1. Sobre las variables predictoras, en este caso deberéis estandarizar estas variables. De nuevo, usad el método que prefiráis.

In [11]:
df = pd.read_pickle("data/supermarket_norm.pkl")
df.head(2)

,invoice_id,city,customer_type,gender,product_line,unit_price,quantity,date,time,payment,rating,month,shift,total_boxcox
0,750-67-8428,Yangon,Member,Female,Health and beauty,74.69,7,2019-01-05,13:08,Ewallet,9.1,January,Morning,17.284419
1,226-31-3081,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,2019-03-08,10:29,Cash,9.6,March,Morning,8.608895

In [12]:
#Primero hacemos un nuevo dataframe con las variables numéricas

df_num = df.select_dtypes(include=['float64', 'int64'])
df_num.head(2)

   unit_price  rating  total_boxcox
0       74.69     9.1     17.284419
1       15.28     9.6      8.608895

In [13]:
#Como en este df aparece nuestra variable respuesta, la eliminamos.
df_num = df_num.drop(["total_boxcox"], axis = 1)

In [14]:
#Usamos el Robust Scaler porque no hemos hecho ningún tratamiento de outliers

#Primero construimos el modelo
#Con el fit aprende
#Con el transform aplica lo aprendido

robust = RobustScaler()
robust.fit(df_num)
num_robust = robust.transform(df_num)

#Convertimos el resultado en dataframe

df_robust = pd.DataFrame(num_robust, columns = df_num.columns)

In [15]:
df_robust.head(2)

   unit_price    rating
0    0.431869  0.700000
1   -0.886596  0.866667

In [16]:
#Unimos este dataframe al dataframe original

df[df_num.columns] = df_robust

df.head(2)

,invoice_id,city,customer_type,gender,product_line,unit_price,quantity,date,time,payment,rating,month,shift,total_boxcox
0,750-67-8428,Yangon,Member,Female,Health and beauty,0.431869,7,2019-01-05,13:08,Ewallet,0.700000,January,Morning,17.284419
1,226-31-3081,Naypyitaw,Normal,Female,Electronic accessories,-0.886596,5,2019-03-08,10:29,Cash,0.866667,March,Morning,8.608895

2. Guardar en un csv el nuevo dataframe que habéis creado para seguir usándolo en los siguientes pair programmings

In [17]:
df.to_pickle('data/supermarket_estand.pkl')