pair 2 regresión logística:

- Estandarizar las variables numéricas de vuestro set de datos

- Codificar las variables categóricas. Recordad que tendréis que tener en cuenta si vuestras variables tienen orden o no.

- Chequear si vuestros datos están balanceados. En caso de que no lo estén utilizad algunas de las herramientas aprendidas en la lección para balancearlos.

- Guardad el dataframe con los cambios que habéis aplicado para utilizarlo en la siguiente lección.

In [1]:
import numpy as np
import pandas as pd
import sidetable as stb

import matplotlib.pyplot as plt
import seaborn as sns

import math

# Estandarización variables numéricas y Codificación variables categóricas
# ------------------------------------------------------------------------------
from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings("ignore")

pd.options.display.max_columns = None

In [2]:
df_travel = pd.read_pickle('data/df_travel_1.pkl')
df_travel.head(2)

,Agency,Agency Type,Distribution Channel,Product Name,Claim,Duration,Destination,Net Sales,Age,Commision
0,CBH,Travel Agency,Offline,Comprehensive Plan,No,186,MALAYSIA,36.782695,81,yes
1,CBH,Travel Agency,Offline,Comprehensive Plan,No,186,MALAYSIA,36.782695,71,yes

In [3]:
df_num = pd.read_pickle('data/df_num_1.pkl')
df_cat = pd.read_pickle('data/df_cat_1.pkl')

In [4]:
#Estandarizamos las variables numéricas
#llamamos al método
scaler = StandardScaler()

In [5]:
# ahora ya podemos ajustar nuestros datos. 
scaler.fit(df_num)

# transformamos los datos
X_escaladas = scaler.transform(df_num)

# por último convertiremos el array que nos devuelve en un dataframe.
numericas_estandar = pd.DataFrame(X_escaladas, columns = df_num.columns)
numericas_estandar.head(2)

   Duration  Net Sales       Age
0   2.58677   0.337585  4.254458
1   2.58677   0.337585  3.248902

In [6]:
#Eliminamos las columnas que ya no necesitamos

df_travel.drop(df_num.columns, axis = 1, inplace=True)
df_travel.head()

,Agency,Agency Type,Distribution Channel,Product Name,Claim,Destination,Commision
0,CBH,Travel Agency,Offline,Comprehensive Plan,No,MALAYSIA,yes
1,CBH,Travel Agency,Offline,Comprehensive Plan,No,MALAYSIA,yes
2,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,AUSTRALIA,yes
3,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,AUSTRALIA,yes
4,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,ITALY,yes

In [7]:
#Añadimos las columnas estandarizadas

df_travel_est = pd.concat([df_travel, numericas_estandar], axis = 1)

In [8]:
df_travel_est.head(2)

,Agency,Agency Type,Distribution Channel,Product Name,Claim,Destination,Commision,Duration,Net Sales,Age
0,CBH,Travel Agency,Offline,Comprehensive Plan,No,MALAYSIA,yes,2.58677,0.337585,4.254458
1,CBH,Travel Agency,Offline,Comprehensive Plan,No,MALAYSIA,yes,2.58677,0.337585,3.248902

In [9]:
#Codificamos las variables categóricas
#primero actuamos sobre Destination y Agency
#segundo

In [ ]:
from matplotlib_venn import venn2

In [ ]:
# Use the venn2 function
venn2(subsets = (10, 5, 2), set_labels = ('Group A', 'Group B'))
plt.show()