In [12]:
import pandas as pd

from sklearn.preprocessing import RobustScaler

import warnings
warnings.filterwarnings('ignore')

pd.options.display.max_columns = None

En este ejercicio de pair programming seguiréis usando el dataset que seleccionasteis.

En vuestro dataset habréis identificado unas variables predictoras y una variable respuesta. 

Los objetivos del pair programming de hoy son:

1. Sobre las variables predictoras, en este caso deberéis estandarizar estas variables. De nuevo, usad el método que prefiráis.

In [13]:
df = pd.read_csv("data/supermarket_norm.csv", index_col = 0)
df.head(2)

,invoice_id,city,customer_type,gender,product_line,unit_price,total,date,time,payment,rating,quantity_boxcox
0,750-67-8428,Yangon,Member,Female,Health and beauty,74.69,548.9715,1/5/2019,13:08,Ewallet,9.1,4.212102
1,226-31-3081,Naypyitaw,Normal,Female,Electronic accessories,15.28,80.2200,3/8/2019,10:29,Cash,9.6,3.014915

In [14]:
#Primero hacemos un nuevo dataframe con las variables numéricas

df_num = df.select_dtypes(include=['float64', 'int64'])
df_num.head(2)

   unit_price     total  rating  quantity_boxcox
0       74.69  548.9715     9.1         4.212102
1       15.28   80.2200     9.6         3.014915

In [15]:
#Usamos el Robust Scaler porque no hemos hecho ningún tratamiento de outliers

#Primero construimos el modelo
#Con el fit aprende
#Con el transform aplica lo aprendido

robust = RobustScaler()
robust.fit(df_num)
num_robust = robust.transform(df_num)

#Convertimos el resultado en dataframe

df_robust = pd.DataFrame(num_robust, columns = df_num.columns)

In [16]:
df_robust.head(2)

   unit_price     total    rating  quantity_boxcox
0    0.431869  0.850677  0.700000         0.385456
1   -0.886596 -0.500473  0.866667         0.000000

In [17]:
#Unimos este dataframe al dataframe original

df[df_num.columns] = df_robust

df.head(2)

,invoice_id,city,customer_type,gender,product_line,unit_price,total,date,time,payment,rating,quantity_boxcox
0,750-67-8428,Yangon,Member,Female,Health and beauty,0.431869,0.850677,1/5/2019,13:08,Ewallet,0.700000,0.385456
1,226-31-3081,Naypyitaw,Normal,Female,Electronic accessories,-0.886596,-0.500473,3/8/2019,10:29,Cash,0.866667,0.000000

2. Guardar en un csv el nuevo dataframe que habéis creado para seguir usándolo en los siguientes pair programmings

In [18]:
df.to_csv('data/supermarket_estand.csv')